# Visual Studio 2022
.vs/
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output folders
bin/
obj/
Debug/
Release/

# Visual Studio Code
.vscode/
.history/

# OS files
Thumbs.db
Desktop.ini

# Node (if any)
node_modules/

# Logs
*.log
